<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxw.wscrm.sys.mapper.SysMenuMapper">

    <select id="canBeDeleted" resultType="java.lang.Integer">
        SELECT SUM(t1.num) FROM (
                                    SELECT COUNT(1) num FROM sys_menu WHERE parent_id = #{menuId}
                                    UNION ALL
                                    SELECT COUNT(1) num FROM sys_role_menu WHERE menu_id = #{menuId}
                                ) t1
    </select>
    <select id="queryMenuIdByRoleId" resultType="java.lang.Integer">
SELECT menu_id FROM sys_menu WHERE parent_id != 0 AND menu_id IN
       ( SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId})
    </select>
    <select id="selectShowMenuSubByUserName" resultType="com.hxw.wscrm.sys.entity.SysMenu">
        select DISTINCT m.* from sys_menu m
        inner join sys_role_menu rm on m.menu_id = rm.menu_id
        inner join sys_user_role ur on rm.role_id = ur.role_id
        inner join sys_user u on ur.user_id = u.user_id
        where m.parent_id = #{menuId} and u.username = #{userName}
        order by m.order_num
    </select>

    <select id="selectShowMenuParent" resultType="com.hxw.wscrm.sys.entity.SysMenu">
        select DISTINCT m.* from sys_menu m
        inner join sys_role_menu rm on m.menu_id = rm.menu_id
        inner join sys_user_role ur on rm.role_id = ur.role_id
        inner join sys_user u on ur.user_id = u.user_id
        where m.parent_id = 0 and u.username = #{userName}
        order by m.order_num
    </select>

    <select id="queryPermsByUserName" resultType="java.lang.String">
        select DISTINCT p.permission_code
        from sys_permission p
        inner join sys_role_permission rp on p.permission_id = rp.permission_id
        inner join sys_user_role ur on rp.role_id = ur.role_id
        inner join sys_user u on ur.user_id = u.user_id
        where u.username = #{userName} and p.status = 1
    </select>
</mapper>
