<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxw.wscrm.sys.mapper.SysRoleMapper">
    <insert id="insertRoleAndMenu">
        insert into sys_role_menu(role_id,menu_id)values (#{roleId},#{menuId})
    </insert>
    <delete id="deleteMenuByRoleId">
        delete  from  sys_role_menu where role_id = #{roleId}
    </delete>

    <select id="checkRoleCanDelete" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM sys_user_role s1 , sys_role_menu s2 WHERE s1.role_id = #{roleId} OR s2.role_id = #{roleId}
    </select>
    <select id="queryByUserId" resultType="com.hxw.wscrm.sys.entity.SysRole">
        SELECT * FROM sys_role s where s.role_id IN(
            SELECT role_id FROM sys_user_role s2 WHERE s2.user_id = #{userId}
            )
    </select>

    <select id="queryPermissionsByMenuId" resultType="java.util.Map">
        SELECT permission_id as id, permission_name as name, permission_code as code 
        FROM sys_permission 
        WHERE menu_id = #{menuId} AND status = 1
    </select>

    <select id="queryPermissionIdByRoleId" resultType="java.lang.Long">
        SELECT permission_id 
        FROM sys_role_permission 
        WHERE role_id = #{roleId}
    </select>

    <delete id="deletePermissionByRoleId">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>

    <insert id="insertRoleAndPermission">
        insert into sys_role_permission(role_id, permission_id) values (#{roleId}, #{permissionId})
    </insert>
</mapper>
